*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.container > div {
  padding: 0.5em;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.header {
  grid-column: 2/4;
  display: flex;
  background-color: #818fb4;
  align-content: center;
}

.header svg {
  width: 25px;
}

.searchbar {
  display: flex;
  gap: 0.5em;
  align-items: center;
  flex: 2;
}

.search-icon {
  display: flex;
}

.search-input {
  display: flex;
  flex: 1;
}

.search-input input {
  width: 80%;
  border: none;
  border-radius: 20px;
  background-color: aliceblue;
  height: 30px;
  padding: 0 1em;
}

.header-right-side {
  display: flex;
  align-items: center;
  justify-content: end;
  flex: 1;
  gap: 0.825em;
}

.header-user-icon {
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.header-user-name {
  font-size: 0.7rem;
  color: #0d1117;
}

.sidebar {
  grid-row: 1/4;
  background-color: #0d1117;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.sidebar > div {
  width: 100%;
}

.sidebar svg {
  fill: rgb(255, 255, 255);
}

.logo-bar {
  margin-top: -0.3em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.logo {
  width: 20%;
}

.logo img {
  margin: 0 auto;
  width: 30px;
  height: 30px;
}

.title {
  font-size: 1.8rem;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.menu:hover {
  opacity: 0.7;
}

.menu-logo {
  width: 20%;
  display: flex;
  justify-content: center;
}

.menu svg {
  width: 20px;
}

.name-place {
  width: 80%;
}

.menu-name {
  font-size: 1.2rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 2/4;
  background-color: #818fb4;
}

.user-greeting-info {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.nav-user-icon {
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.user-greet {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.greet-text {
  margin: 0;
  font-size: 0.825rem;
}

.user-info {
  margin: 0;
  font-size: 1.2rem;
}

.action-button {
  display: flex;
  align-items: center;
  gap: 1em;
}

.btn-action {
  background-color: #238636;
  color: white;
  font-weight: 900;
  border: none;
  border-radius: 20px;
  padding: 0.5em 2em;
}

.btn-action:hover {
  background-color: #1c6e2c;
}

.content {
  grid-column: 2/3;
  background-color: #435585;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.4em;
}

.content-title {
  font-size: 1rem;
  grid-column: 1/3;
}

.card {
  padding: 1em;
  background-color: white;
  color: #0d1117;
  box-shadow: 13px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-left: 5px solid #238636;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card-title {
  font-size: 1rem;
}

.card-desc {
  font-size: 0.7rem;
}

.card-icons {
  display: flex;
  justify-content: end;
  gap: 0.8em;
}

.card-icons svg {
  width: 20px;
}

.side-content {
  background-color: #435585;
}
